/* Styles for the UserForm React component */
form {
  float:left; display:inline; 
  width: 49%;
  text-align: center;
}
/* .root {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  } */

/* .MuiTextField-root {
    position: relative;
    width: '300px';
  } */