.button--color-blue{
  background-color:red;
}

.landing-page{
  height:100vh;
}

.landing-page__flex-wrapper{
  display:flex;
  height:100%;
  align-items:center;
  justify-content:center;
}

.landing-page__button-container{
  width:20vw;
  height:20vw;
  padding:10vw;

}

.landing-page__button{
  height:100%;
  width: 100%;
}

.landing-page--black{
  background-color: #22223b;
}