.Column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
}

.Row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:fuchsia;
  height:100%;
}

.App{
  background-color:coral;
  height:92vh;
}

.LeftColumn{
  background-color: cornflowerblue;
  height:100%;
}

.RightColumn{
  background-color:darkcyan;
  height:100%;
}

.MidColumn{
  background-color:darkkhaki;
  height:100%;
}

table {
  width: 100%;
  /* border: 1px solid black;
  border-collapse: collapse; */
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
tr:nth-child(even) {background-color: #f2f2f2;}