.Column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:fuchsia;
  height:100%;
}

.App{
  background-color:coral;
  height:92vh;
}

.LeftColumn{
  background-color: cornflowerblue;
  height:100%;
}

.RightColumn{
  background-color:darkcyan;
  height:100%;
}

.MidColumn{
  background-color:darkkhaki;
  height:100%;
}