.Image{
    float: left;
    max-width: 500px;
    border-radius: 10%;
    
    
}
.ImageCommentContainer{
    float: left;
    width: 500px;
    height: 1000px;
    margin-left: 50px;
    margin-top: 10px;

}
.DisplayName{
    float: left;
    font-family: monospace;
    font-size: 200%;
    
}
.InfoContainer{
    margin-top: 10px;
    float: left;
    width: 550px;
    height: 600px;
    font-family: monospace;
    font-size: 200%;
    margin-left: 100px;
    background-color: rgb(93, 133, 133);
    border-radius: 10px;
    padding: 10px;
}
.Comment{
    margin-top: 5px;
    float: left;
    width: 500px;
    height: 200px;
    background-color: rgb(93, 133, 133);
    border-radius: 10px;
    padding: 10px;
}