

.profile-page{
    height: 100vh;
}

.profile-page__flex-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}




.profile-page__image{
    float: left;
    max-width: 27vw;
    border-radius: 10%;
    
    
}




.profile-page__image-container{
    width: 30vw;
    height: 100vh;
    margin-left: 50px;
    margin-top: 10px;

}
.profile-page__displayname{
    float: left;
    font-family: monospace;
    font-size: 200%;
    
}
.profile-page__infocontainer{
    margin-top: 10vh;
    overflow-y: hidden;
    
    width: 25vw;
    height: 30vh;
    
    font-family: monospace;
    font-size: 200%;
    
    background-color: rgb(93, 133, 133);
    border-radius: 10px;
    padding: 10px;
}
.profile-page__comment{
    margin-top: 10px;
    float: left;
    width: 25vw;
    height: 15vh;
    background-color: rgb(93, 133, 133);
    border-radius: 10px;
    padding: 10px;
}

.profile-page--dark{
    background: #393E46;
  }